<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ChatSY</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>hi</string>
		<string>fr</string>
		<string>pt</string>
	</array>
	<key>CFBundleName</key>
	<string>ChatSY</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>406384065639872</string>
	<key>FacebookClientToken</key>
	<string>ede390b4b2e1dea9c55fd65007136ffe</string>
	<key>FacebookDisplayName</key>
	<string>CHATSY</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://aichatsy.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Using for recording voice to check sound</string>
	<key>NSCameraUsageDescription</key>
	<string>Aichatsy need access to your camera library to summarise text from images. Chat GPT uses this permission to extract text from the photos you capture, making it easier for you to get summaries and insights from visual content. Your privacy is important to us, and we will only access your photos for this specific purpose.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The application is viewed in the required location for subscription.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AIChatSY requires access to your microphone to enable voice-based features, allowing you to interact with the AI chatbot using voice commands, record audio messages, and enhance your overall experience.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aichatsy need access to your photo library to summarise text from images. Chat GPT uses this permission to extract text from the photos you select, making it easier for you to get summaries and insights from visual content. Your privacy is important to us, and we will only access your photos for this specific purpose.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Using for recorded data to convert into text</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cDkw7geqH4.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>hs6bdukanm.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
    	<string>https</string>
    	<string>http</string>
    </array>
    <key>FlutterDeepLinkingEnabled</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
    	<dict>
    		<key>CFBundleTypeRole</key>
    		<string>Editor</string>
    		<key>CFBundleURLName</key>
    		<string>com.aichatsy.app</string>
    		<key>CFBundleURLSchemes</key>
    		<array>
    			<string>https</string>
    		</array>
    	</dict>
    	<dict>
        	<key>CFBundleTypeRole</key>
        	<string>Editor</string>
        	<key>CFBundleURLSchemes</key>
        	<array>
        		<string>com.googleusercontent.apps.50566955447-hvcong6ledci8he7lsc3lcf6ujlnbkcd</string>
        	</array>
        </dict>
    </array>
    <key>NSUserTrackingUsageDescription</key>
    <string>User data will be used to provide personalized ads and improve app experiences.</string>
    <key>AppsFlyerDevKey</key>
    <string>EhjUH78c6jkbmT4YRXdLfB</string>
    <key>AppsFlyerAppID</key>
    <string>6449819419</string>
	<key>CFBundleLocalizations</key>
	<array>
	<string>en</string>
	<string>es</string>
	<string>fr</string>
	<string>hi</string>
	<string>po</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
